/*utillities */
.container {
  width: 90%;
  margin: 0 auto; }

div[class^="col-"] {
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 1rem 0;
  text-align: center; }

.gutter-t-1 {
  margin-left: 0.25rem; }

.gutter-r-1 {
  margin-left: 0.25rem; }

.gutter-b-1 {
  margin-left: 0.25rem; }

.gutter-l-1 {
  margin-left: 0.25rem; }

.gutter-t-2 {
  margin-left: 0.5rem; }

.gutter-r-2 {
  margin-left: 0.5rem; }

.gutter-b-2 {
  margin-left: 0.5rem; }

.gutter-l-2 {
  margin-left: 0.5rem; }

.gutter-t-3 {
  margin-left: 0.75rem; }

.gutter-r-3 {
  margin-left: 0.75rem; }

.gutter-b-3 {
  margin-left: 0.75rem; }

.gutter-l-3 {
  margin-left: 0.75rem; }

.gutter-t-4 {
  margin-left: 1rem; }

.gutter-r-4 {
  margin-left: 1rem; }

.gutter-b-4 {
  margin-left: 1rem; }

.gutter-l-4 {
  margin-left: 1rem; }

.gutter-t-5 {
  margin-left: 1.25rem; }

.gutter-r-5 {
  margin-left: 1.25rem; }

.gutter-b-5 {
  margin-left: 1.25rem; }

.gutter-l-5 {
  margin-left: 1.25rem; }

.gutter-t-6 {
  margin-left: 1.5rem; }

.gutter-r-6 {
  margin-left: 1.5rem; }

.gutter-b-6 {
  margin-left: 1.5rem; }

.gutter-l-6 {
  margin-left: 1.5rem; }

.gutter-t-7 {
  margin-left: 1.75rem; }

.gutter-r-7 {
  margin-left: 1.75rem; }

.gutter-b-7 {
  margin-left: 1.75rem; }

.gutter-l-7 {
  margin-left: 1.75rem; }

.gutter-t-8 {
  margin-left: 2rem; }

.gutter-r-8 {
  margin-left: 2rem; }

.gutter-b-8 {
  margin-left: 2rem; }

.gutter-l-8 {
  margin-left: 2rem; }

.gutter-t-9 {
  margin-left: 2.25rem; }

.gutter-r-9 {
  margin-left: 2.25rem; }

.gutter-b-9 {
  margin-left: 2.25rem; }

.gutter-l-9 {
  margin-left: 2.25rem; }

.gutter-t-10 {
  margin-left: 2.5rem; }

.gutter-r-10 {
  margin-left: 2.5rem; }

.gutter-b-10 {
  margin-left: 2.5rem; }

.gutter-l-10 {
  margin-left: 2.5rem; }

.gutter-t-11 {
  margin-left: 2.75rem; }

.gutter-r-11 {
  margin-left: 2.75rem; }

.gutter-b-11 {
  margin-left: 2.75rem; }

.gutter-l-11 {
  margin-left: 2.75rem; }

.gutter-t-12 {
  margin-left: 3rem; }

.gutter-r-12 {
  margin-left: 3rem; }

.gutter-b-12 {
  margin-left: 3rem; }

.gutter-l-12 {
  margin-left: 3rem; }

.gutter-t-13 {
  margin-left: 3.25rem; }

.gutter-r-13 {
  margin-left: 3.25rem; }

.gutter-b-13 {
  margin-left: 3.25rem; }

.gutter-l-13 {
  margin-left: 3.25rem; }

.gutter-t-14 {
  margin-left: 3.5rem; }

.gutter-r-14 {
  margin-left: 3.5rem; }

.gutter-b-14 {
  margin-left: 3.5rem; }

.gutter-l-14 {
  margin-left: 3.5rem; }

.gutter-t-15 {
  margin-left: 3.75rem; }

.gutter-r-15 {
  margin-left: 3.75rem; }

.gutter-b-15 {
  margin-left: 3.75rem; }

.gutter-l-15 {
  margin-left: 3.75rem; }

.gutter-t-16 {
  margin-left: 4rem; }

.gutter-r-16 {
  margin-left: 4rem; }

.gutter-b-16 {
  margin-left: 4rem; }

.gutter-l-16 {
  margin-left: 4rem; }

.gutter-t-17 {
  margin-left: 4.25rem; }

.gutter-r-17 {
  margin-left: 4.25rem; }

.gutter-b-17 {
  margin-left: 4.25rem; }

.gutter-l-17 {
  margin-left: 4.25rem; }

.gutter-t-18 {
  margin-left: 4.5rem; }

.gutter-r-18 {
  margin-left: 4.5rem; }

.gutter-b-18 {
  margin-left: 4.5rem; }

.gutter-l-18 {
  margin-left: 4.5rem; }

.gutter-t-19 {
  margin-left: 4.75rem; }

.gutter-r-19 {
  margin-left: 4.75rem; }

.gutter-b-19 {
  margin-left: 4.75rem; }

.gutter-l-19 {
  margin-left: 4.75rem; }

.gutter-t-20 {
  margin-left: 5rem; }

.gutter-r-20 {
  margin-left: 5rem; }

.gutter-b-20 {
  margin-left: 5rem; }

.gutter-l-20 {
  margin-left: 5rem; }

/* columns */
.col-md-1 {
  flex: 0 0 8.3333333333%; }

.col-md-2 {
  flex: 0 0 16.6666666667%; }

.col-md-3 {
  flex: 0 0 25%; }

.col-md-4 {
  flex: 0 0 33.3333333333%; }

.col-md-5 {
  flex: 0 0 41.6666666667%; }

.col-md-6 {
  flex: 0 0 50%; }

.col-md-7 {
  flex: 0 0 58.3333333333%; }

.col-md-8 {
  flex: 0 0 66.6666666667%; }

.col-md-9 {
  flex: 0 0 75%; }

.col-md-10 {
  flex: 0 0 83.3333333333%; }

.col-md-11 {
  flex: 0 0 91.6666666667%; }

.col-md-12 {
  flex: 0 0 100%; }

/* buttons */
.btn-1 {
  width: 2rem;
  height: 1rem;
  text-align: center;
  outline: none; }

.btn-2 {
  width: 4rem;
  height: 2rem;
  text-align: center;
  outline: none; }

.btn-3 {
  width: 6rem;
  height: 3rem;
  text-align: center;
  outline: none; }

.btn-4 {
  width: 8rem;
  height: 4rem;
  text-align: center;
  outline: none; }

.btn-5 {
  width: 10rem;
  height: 5rem;
  text-align: center;
  outline: none; }

/*padding*/
.padding-t-1 {
  padding-top: 0.25rem; }

.padding-r-1 {
  padding-top: 0.25rem; }

.padding-b-1 {
  padding-top: 0.25rem; }

.padding-l-1 {
  padding-top: 0.25rem; }

.padding-t-2 {
  padding-top: 0.5rem; }

.padding-r-2 {
  padding-top: 0.5rem; }

.padding-b-2 {
  padding-top: 0.5rem; }

.padding-l-2 {
  padding-top: 0.5rem; }

.padding-t-3 {
  padding-top: 0.75rem; }

.padding-r-3 {
  padding-top: 0.75rem; }

.padding-b-3 {
  padding-top: 0.75rem; }

.padding-l-3 {
  padding-top: 0.75rem; }

.padding-t-4 {
  padding-top: 1rem; }

.padding-r-4 {
  padding-top: 1rem; }

.padding-b-4 {
  padding-top: 1rem; }

.padding-l-4 {
  padding-top: 1rem; }

.padding-t-5 {
  padding-top: 1.25rem; }

.padding-r-5 {
  padding-top: 1.25rem; }

.padding-b-5 {
  padding-top: 1.25rem; }

.padding-l-5 {
  padding-top: 1.25rem; }

.padding-t-6 {
  padding-top: 1.5rem; }

.padding-r-6 {
  padding-top: 1.5rem; }

.padding-b-6 {
  padding-top: 1.5rem; }

.padding-l-6 {
  padding-top: 1.5rem; }

.padding-t-7 {
  padding-top: 1.75rem; }

.padding-r-7 {
  padding-top: 1.75rem; }

.padding-b-7 {
  padding-top: 1.75rem; }

.padding-l-7 {
  padding-top: 1.75rem; }

.padding-t-8 {
  padding-top: 2rem; }

.padding-r-8 {
  padding-top: 2rem; }

.padding-b-8 {
  padding-top: 2rem; }

.padding-l-8 {
  padding-top: 2rem; }

.padding-t-9 {
  padding-top: 2.25rem; }

.padding-r-9 {
  padding-top: 2.25rem; }

.padding-b-9 {
  padding-top: 2.25rem; }

.padding-l-9 {
  padding-top: 2.25rem; }

.padding-t-10 {
  padding-top: 2.5rem; }

.padding-r-10 {
  padding-top: 2.5rem; }

.padding-b-10 {
  padding-top: 2.5rem; }

.padding-l-10 {
  padding-top: 2.5rem; }

.padding-t-11 {
  padding-top: 2.75rem; }

.padding-r-11 {
  padding-top: 2.75rem; }

.padding-b-11 {
  padding-top: 2.75rem; }

.padding-l-11 {
  padding-top: 2.75rem; }

.padding-t-12 {
  padding-top: 3rem; }

.padding-r-12 {
  padding-top: 3rem; }

.padding-b-12 {
  padding-top: 3rem; }

.padding-l-12 {
  padding-top: 3rem; }

.padding-t-13 {
  padding-top: 3.25rem; }

.padding-r-13 {
  padding-top: 3.25rem; }

.padding-b-13 {
  padding-top: 3.25rem; }

.padding-l-13 {
  padding-top: 3.25rem; }

.padding-t-14 {
  padding-top: 3.5rem; }

.padding-r-14 {
  padding-top: 3.5rem; }

.padding-b-14 {
  padding-top: 3.5rem; }

.padding-l-14 {
  padding-top: 3.5rem; }

.padding-t-15 {
  padding-top: 3.75rem; }

.padding-r-15 {
  padding-top: 3.75rem; }

.padding-b-15 {
  padding-top: 3.75rem; }

.padding-l-15 {
  padding-top: 3.75rem; }

.padding-t-16 {
  padding-top: 4rem; }

.padding-r-16 {
  padding-top: 4rem; }

.padding-b-16 {
  padding-top: 4rem; }

.padding-l-16 {
  padding-top: 4rem; }

.padding-t-17 {
  padding-top: 4.25rem; }

.padding-r-17 {
  padding-top: 4.25rem; }

.padding-b-17 {
  padding-top: 4.25rem; }

.padding-l-17 {
  padding-top: 4.25rem; }

.padding-t-18 {
  padding-top: 4.5rem; }

.padding-r-18 {
  padding-top: 4.5rem; }

.padding-b-18 {
  padding-top: 4.5rem; }

.padding-l-18 {
  padding-top: 4.5rem; }

.padding-t-19 {
  padding-top: 4.75rem; }

.padding-r-19 {
  padding-top: 4.75rem; }

.padding-b-19 {
  padding-top: 4.75rem; }

.padding-l-19 {
  padding-top: 4.75rem; }

.padding-t-20 {
  padding-top: 5rem; }

.padding-r-20 {
  padding-top: 5rem; }

.padding-b-20 {
  padding-top: 5rem; }

.padding-l-20 {
  padding-top: 5rem; }

/*height */
.height-1 {
  padding-top: 1em; }

.height-2 {
  padding-top: 2em; }

.height-3 {
  padding-top: 3em; }

.height-4 {
  padding-top: 4em; }

.height-5 {
  padding-top: 5em; }

.height-6 {
  padding-top: 6em; }

.height-7 {
  padding-top: 7em; }

.height-8 {
  padding-top: 8em; }

.height-9 {
  padding-top: 9em; }

.height-10 {
  padding-top: 10em; }

.height-11 {
  padding-top: 11em; }

.height-12 {
  padding-top: 12em; }

.height-13 {
  padding-top: 13em; }

.height-14 {
  padding-top: 14em; }

.height-15 {
  padding-top: 15em; }

.height-16 {
  padding-top: 16em; }

.height-17 {
  padding-top: 17em; }

.height-18 {
  padding-top: 18em; }

.height-19 {
  padding-top: 19em; }

.height-20 {
  padding-top: 20em; }

/*text -size*/
.text-size-1 {
  padding-top: 1em; }

.text-size-2 {
  padding-top: 2em; }

.text-size-3 {
  padding-top: 3em; }

.text-size-4 {
  padding-top: 4em; }

.text-size-5 {
  padding-top: 5em; }

.text-size-6 {
  padding-top: 6em; }

.text-size-7 {
  padding-top: 7em; }

.text-size-8 {
  padding-top: 8em; }

.text-size-9 {
  padding-top: 9em; }

.text-size-10 {
  padding-top: 10em; }

.text-size-11 {
  padding-top: 11em; }

.text-size-12 {
  padding-top: 12em; }

.text-size-13 {
  padding-top: 13em; }

.text-size-14 {
  padding-top: 14em; }

.text-size-15 {
  padding-top: 15em; }

.text-size-16 {
  padding-top: 16em; }

.text-size-17 {
  padding-top: 17em; }

.text-size-18 {
  padding-top: 18em; }

.text-size-19 {
  padding-top: 19em; }

.text-size-20 {
  padding-top: 20em; }

/*utillities end*/

/*# sourceMappingURL=main.css.map */
