body {
  @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
  font-family: "Open Sans", sans-serif;
}

/*utillities */
$main-color: #563d7c;
$secondary-color: #7952b3;
$bg-color: #f8f9fa;
$grey: #6c757d;
$yellow: #ffe484;
$blue: #007bff;
$white: white;
$black: black;
$columns: 12;
$gutter: 0.25rem;
$btn-width: 2rem;
$btn-height: 1rem;
$border-height: 0.25rem;
$border-radius: 0.25rem;
$padding: 0.25rem;
$height: 1em;
$width: 1em;
$text-size: 0.25rem;
$text-weight: 100;
$line-height: 0.25;

// text-colors

.grey {
  color: $grey;
}

.white {
  color: $white;
}

.blue {
  color: $blue;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 90%;
  margin: 0 auto;
}
div[class^="col-"] {
  box-sizing: border-box;
  padding: 1rem 0;
}

//Use in Styles

@mixin border-smooth($value) {
  border-radius: $value;
}

@mixin text-position($value) {
  text-align: $value;
}

@mixin align-vertical($value) {
  vertical-align: $value;
}

@mixin text-decoration($value, $color) {
  text-decoration: $value;
  color: $color;
}

@mixin position($value) {
  position: $value;
}

@mixin display($value) {
  display: $value;
}
@mixin float($value) {
  float: $value;
}

.fluid-right {
  right: 0;
  @include position(absolute);
}

.clear {
  clear: both;
}

// Gutter Section
.gutter-0 {
  margin: 0;
}
.gutter-hor-auto {
  margin: 0 auto;
}
.gutter-ver-auto {
  margin: auto 0;
}
@for$i from 1 through 20 {
  .gutter-t-#{$i} {
    margin-top: $gutter * $i;
  }
  .gutter-r-#{$i} {
    margin-right: $gutter * $i;
  }
  .gutter-b-#{$i} {
    margin-bottom: $gutter * $i;
  }
  .gutter-l-#{$i} {
    margin-left: $gutter * $i;
  }
}

/* columns */
@for $i from 1 through $columns {
  .col-md-#{$i} {
    flex: 0 0 100% / $columns * $i;
  }
}

/* buttons */
@for$i from 1 through 5 {
  .btn-#{$i} {
    width: $btn-width * $i;
    // height: $btn-height * $i;
    text-align: center;
    outline: none;
  }
}

/*padding*/
.padding-0 {
  padding: 0;
}
@for $i from 1 through 20 {
  .padding-t-#{$i} {
    padding-top: $padding * $i;
  }
  .padding-r-#{$i} {
    padding-right: $padding * $i;
  }
  .padding-b-#{$i} {
    padding-bottom: $padding * $i;
  }
  .padding-l-#{$i} {
    padding-left: $padding * $i;
  }
  .padding-#{$i} {
    padding: $padding * $i;
  }
  .padding-hor-#{$i} {
    padding: 0 $padding * $i;
  }
  .padding-vert-#{$i} {
    padding: $padding * $i 0;
  }
  .padding-#{$i} {
    padding: $padding * $i;
  }
}

/*height */
.h-100 {
  height: 100%;
}
@for $i from 1 through 20 {
  .h-#{$i} {
    height: $height * $i;
  }
}

/*width */
.w-100 {
  width: 100%;
}
@for $i from 1 through 20 {
  .w-#{$i} {
    width: $width * $i;
  }
}

/*text -size*/
@for $i from 1 through 20 {
  .text-size-#{$i} {
    font-size: $text-size * $i;
  }
}

// text weight
@for $i from 1 through 9 {
  .fw-#{$i} {
    font-weight: $text-weight * $i;
  }
}

@for $i from 1 through 20 {
  .lh-#{$i} {
    line-height: $line-height * $i;
  }
}

/*utillities end*/

// CLASSES
.section-1 {
  h1 {
    color: $main-color;
  }
  h2 {
  }
}
.text-center {
  @include text-position(center);
}
.downloadbutton {
  border: 1px solid $black;
  @include border-smooth($border-height);
}

.header {
  background-color: $main-color;
  @include position(fixed);

  .navbar {
    li {
      display: inline-block;
      @include align-vertical(middle);

      a {
        @include text-decoration(none, $white);
      }
    }
    ul {
      display: inline-block;
    }
    div {
      display: inline-block;
      @include float(right);
      a {
        display: inline-block;
        color: $white;
        @include text-decoration(none, $white);
      }
    }
  }
}

.install-section {
  background-color: $bg-color;
  div {
  }

  svg {
    outline-color: #007bff;
  }

  h3 {
  }
}

//footer

.footer {
  background-color: $bg-color;
  div {
    ul {
      li {
        @include display(inline-block);
      }
    }
  }

  a {
    @include text-decoration(none, $black);
    color: black;
    &:hover {
      @include text-decoration(underline, blue);
    }
  }
}
