body {
  @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
  font-family: "Open Sans", sans-serif;
}

/*utillities */
$main-color: #563d7c;
$secondary-color: #7952b3;
$bg-color: #f8f9fa;
$grey: #6c757d;
$yellow: #ffe484;
$blue: #007bff;
$light-purple: #cbbde2;
$white: white;
$black: black;
$columns: 12;
$gutter: 0.25rem;
$btn-width: 2rem;
$btn-height: 1rem;
$border-height: 0.25rem;
$border-radius: 0.25rem;
$padding: 0.25rem;
$height: 1em;
$width: 1em;
$text-size: 0.25rem;
$text-weight: 100;
$line-height: 0.25;
//Use in Styles

@mixin border-smooth($value) {
  border-radius: $value;
}

@mixin border($color) {
  border: 1px solid $color;
}
@mixin text-position($value) {
  text-align: $value;
}

@mixin align-vertical($value) {
  vertical-align: $value;
}

@mixin text-decoration($value, $color) {
  text-decoration: $value;
  color: $color;
}

@mixin position($value) {
  position: $value;
}

@mixin display($value) {
  display: $value;
}
@mixin float($value) {
  float: $value;
}
// backround-colors
.redback {
  background-color: red;
}
@for$i from 1 through 10 {
  .black-#{$i*10} {
    background-color: rgba(0, 0, 0, ($i / 10)-0.05);
  }
}

// text-colors

@for$i from 1 through 10 {
  .text-color-black-#{$i*10} {
    color: rgba(0, 0, 0, ($i / 10)-0.05);
  }
}
.grey {
  color: $grey;
}

.white {
  color: $white;
}

.blue {
  color: $blue;
}
.yellow {
  color: $yellow;
}

.border-yellow {
  @include border($yellow);
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 90%;
  margin: 0 auto;
}
div[class^="col-"] {
  box-sizing: border-box;
  padding: 1rem 0;
}

%border-thick {
  border-right: 5px solid $white;
}

.fluid-right {
  right: 0;
  @include position(absolute);
}

.clear {
  clear: both;
}

// Gutter Section
.gutter-0 {
  margin: 0 auto;
}
.gutter-hor-auto {
  margin: 0 auto;
}
.gutter-ver-auto {
  margin: auto 0;
}
@for$i from 1 through 20 {
  .gutter-t-#{$i} {
    margin-top: $gutter * $i;
  }

  .gutter-r-#{$i} {
    margin-right: $gutter * $i;
  }
  .gutter-b-#{$i} {
    margin-bottom: $gutter * $i;
  }
  .gutter-l-#{$i} {
    margin-left: $gutter * $i;
  }
  .gutter-hor-#{$i} {
    margin: 0 $gutter * $i;
  }
  .gutter-ver-#{$i} {
    margin: $gutter * $i 0;
  }

  .gutter-nt-#{$i} {
    margin-top: -$gutter * $i;
  }

  .gutter-nr-#{$i} {
    margin-right: -$gutter * $i;
  }
  .gutter-nb-#{$i} {
    margin-bottom: -$gutter * $i;
  }
  .gutter-nl-#{$i} {
    margin-left: -$gutter * $i;
  }
  .gutter-nhor-#{$i} {
    margin: 0 -$gutter * $i;
  }
  .gutter-nver-#{$i} {
    margin: -$gutter * $i 0;
  }
}

/* columns */
@for $i from 1 through $columns {
  .col-md-#{$i} {
    flex: 0 0 100% / $columns * $i;
  }
}

/* buttons */
@for $i from 1 through 10 {
  .btn-#{$i} {
    width: $btn-width * $i;
    // height: $btn-height * $i;
    text-align: center;
    outline: none;
  }
}

/*padding*/
.padding-0 {
  padding: 0 !important;
}
@for $i from 1 through 20 {
  .padding-t-#{$i} {
    padding-top: $padding * $i;
  }
  .padding-r-#{$i} {
    padding-right: $padding * $i;
  }
  .padding-b-#{$i} {
    padding-bottom: $padding * $i;
  }
  .padding-l-#{$i} {
    padding-left: $padding * $i;
  }
  .padding-#{$i} {
    padding: $padding * $i;
  }
  .padding-hor-#{$i} {
    padding: 0 $padding * $i;
  }
  .padding-vert-#{$i} {
    padding: $padding * $i 0;
  }
  .padding-#{$i} {
    padding: $padding * $i !important;
  }
}

/*height */
.h-100 {
  height: 100%;
}
@for $i from 1 through 20 {
  .h-#{$i} {
    height: $height * $i;
  }
}

/*width */
.w-100 {
  width: 100%;
}
@for $i from 1 through 20 {
  .w-#{$i} {
    width: $width * $i;
  }
}

/*text -size*/
@for $i from 1 through 20 {
  .text-size-#{$i} {
    font-size: $text-size * $i;
  }
}

// text weight
@for $i from 1 through 9 {
  .fw-#{$i} {
    font-weight: $text-weight * $i;
  }
}

@for $i from 1 through 20 {
  .lh-#{$i} {
    line-height: $line-height * $i;
  }
}

@for $i from 1 through 10 {
  @if $i > 2 {
    .smooth-#{$i} {
      transition: all 0.2s * $i ease-in;
    }
  } @else {
    .smooth-#{$i} {
      transition: all 0.2s ease-in;
    }
  }
}
/*utillities end*/

// CLASSES

.big-logo {
  width: 512px;
  height: 430px;
}
.section-1 {
  h1 {
    color: $secondary-color;
  }
}
.text-center {
  @include text-position(center);
}
.downloadbutton {
  border: 1px solid $black;
  @include border-smooth($border-height);

  &:hover {
    background: $grey;
    color: white;
  }
}

.downloadbutton-1 {
  border: 1px solid $secondary-color;
  @include border-smooth($border-height);
  color: $secondary-color;
  &:hover {
    background: $secondary-color;
    color: white;
  }
}
.downloadbutton-3 {
  @include border-smooth($border-height);
  background-color: $main-color;

  &:hover {
    background: $yellow;
    color: $main-color;
  }
}

.header {
  background-color: $main-color;
  @include position(fixed);

  svg {
    path:nth-child(3) {
      fill: $white;
    }
  }

  .navbar {
    li {
      display: inline-block;
      @include align-vertical(middle);

      a {
        @include text-decoration(none, $light-purple);
        &:hover {
          color: $white;
        }
      }
    }

    ul {
      display: inline-block;
    }
    div {
      display: inline-block;
      @include float(right);
      a {
        display: inline-block;
        @include text-decoration(none, $light-purple);
      }
    }
  }
}

.install-section {
  background-color: $bg-color;
  div {
    @extend %border-thick;
  }

  svg {
    stroke: $blue;
  }

  h3 {
  }
}

//footer

.footer {
  background-color: $bg-color;
  div {
    ul {
      li {
        @include display(inline-block);
      }
    }
  }

  a {
    @include text-decoration(none, $black);
    color: black;
    &:hover {
      @include text-decoration(underline, blue);
    }
  }
}

@import "media";
